.productsFiltersFeature {
  display: flex;
  width: 100%;
  flex-direction: column;
  transform-origin: top;
  gap: 24px;

  &.mobile {
    max-width: none;
    padding: 20px;
  }
  &.desktop {
    max-width: 300px;
    min-width: 250px;
    border: 1px solid var(--border-opacity-color);
    border-radius: 15px;
    padding: 24px;
  }
}

.property {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.actions {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.span {
  color: var(--accent-color);
  font-weight: bold;
  font-size: 1.25rem;
}

.icon {
  width: 24px;
  height: 24px;
  background-color: transparent;
  transform: rotate(180deg);
  color: var(--accent-color);
}

.categories {
  display: flex;
  flex-direction: column;
  gap: 20px;
  li {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

.content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease;
  &.open {
    max-height: 150px;
  }
}

.applyButton {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  font-size: 1.2rem;
  width: 100%;
  border-radius: 50px;
  background-color: var(--accent-color);
  color: var(--text-color);
  transition: background-color 0.3s ease;
}

@media (hover: hover) and (pointer: fine) {
  .applyButton:hover {
    background-color: var(--accent-hover-color);
  }
}
