.sizeSelector {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.header {
  margin-bottom: 5px;
  color: var(--opacity-color);
  font-weight: normal;
  font-size: 1.2rem;
}

.options {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
}

.option {
  font-weight: normal;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  white-space: nowrap;
  color: var(--opacity-color);
  border-color: 0px solid var(--accent-color);
  background-color: #f0f0f0;
  outline: 1px solid transparent;
  transition: background-color 0.3s ease, color 0.3s ease,
    outline-color 0.3s ease;
  cursor: pointer;

  input {
    display: none;
  }

  &.active {
    color: var(--text-color);
    background-color: var(--accent-color);
    &:hover {
      outline-color: transparent;
    }
  }

  &:hover {
    outline-color: var(--accent-color);
  }
}

.small {
  &.option {
    font-size: 1rem;
    height: 38px;
    padding: 0 22px;
  }
}

.medium {
  &.option {
    font-size: 1.2rem;
    height: 48px;
    padding: 0 24px;
  }
}
