.modal {
  position: fixed;
  z-index: 9999;
  background-color: var(--bg-color);
  padding: 1rem;
  width: 70%;
  height: 90%;
  display: flex;
  flex-direction: column;
  overflow: auto;
  transform: scale(0.9);
  animation: scaleIn 0.3s forwards;
  clip-path: inset(0 0 round 20px);
  opacity: 0;

  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #aaa;
    border-radius: 4px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-button {
    display: none; 
  }
}

.button {
  position: absolute;
  right: 0.5%;
  top: 0.5%;
  width: 2.5rem;
  height: 2.5rem;
  cursor: pointer;
  margin-left: auto;
  color: var(--accent-color);
  background-color: transparent;
  svg {
    width: 100%;
    height: 100%;
  }
}

.header {
  display: flex;
  flex-direction: row;
}

.content {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}


@keyframes scaleIn {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}