.ourHappyCustomers {
  margin-top: 80px;
  padding: 0 10px;
}

.h2 {
  text-transform: uppercase;
  font-weight: 800;
  font-size: 3rem;
  padding: 65px 0;
  color: var(--accent-color);
  text-align: center;
}

.swiper {
  margin-bottom: 50px;
}

.sliderControler {
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: center;
  align-items: center;
  .button {
    background-color: transparent;
    font-size: 1.5rem;
    color: var(--accent-color);
  }
}

.pagination {
  display: flex;
  justify-content: center;
  gap: 20px;
  max-width: 500px !important;
  width: 100%;
}

.swiperSlide {
  max-width: 600px !important;
  background-color: var(--bg-color) !important;
  border-radius: 10px;
}