.imageSelector {
  display: flex;
  flex-direction: column;
  gap: 15px
}

.image {
  width: 140px;
  height: 140px;
  border-radius: 15px;
  object-fit: contain;
  cursor: pointer;
  outline: 1px solid transparent;
  transition: outline 0.3s ease;
  
  &.active {
    outline: 1px solid var(--accent-color);
  }
}

@media (width <= 1440px) {
  .imageSelector {
    flex-direction: row;
    order: 2
  }
  .image {
    width: 120px;
    height: 120px;
  }
}