.app {
  background-color: var(--bg-color);
  display: flex;
  flex-direction: column;
}

.container {
  padding: 2rem 3.6rem;
}

.successModal {
  height: auto !important;
  width: auto !important;
  padding: 2rem !important;
  justify-content: center;
}