.catalog {
  padding: 0 3.6rem;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 3vw;
  margin-top: 1.5rem;
  margin-bottom: 5rem;
}

.clothes {
  display: flex;
  flex-direction: column;
}

.title {
  font-weight: 800;
  text-align: left;
  line-height: 1;
  font-size: 3rem;
  color: var(--accent-color);
  padding: 0 0 4rem;
}

.ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 40px;
}
