.newsletter {
  margin: 5rem 3.6rem;
  display: flex;
  justify-content: center;
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  gap: 20px;
  align-items: center;
  background-color: var(--accent-color);
  border-radius: 15px;
  padding: 1rem; 
}

.form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.inputWrapper {
  background-color: var(--bg-color);
  box-shadow: 0 0 8px #ddd;
  border-radius: 50px;
  display: flex;
  align-items: center;
  height: 3.5rem;
  padding: 0 0.5rem;
  
  input {
    background-color: transparent;
    width: 20rem;
    border: none;
    height: 100%;
    margin-left: 5px;
    font-size: 1.3rem;
    &:focus {
      outline: none;
    }
  }
}

.text {
  color: var(--text-color);
  text-transform: uppercase;
  font-size: clamp(1.5625rem, 1.2943rem + 1.1442vw, 3.125rem);
  font-weight: 800;
}

.button {
  border-radius: 50px;
  background-color: var(--bg-color);
  color: var(--accent-color);
  border: none;
  height: 3.5rem;
  font-size: 1.3rem;
  font-weight: bold;
  transition: background-color 0.3s ease, color 0.3s ease;
  &:hover {
    background-color: var(--accent-hover-color);
    color: var(--text-color);
  }
}

.emailIcon {
  color: var(--accent-color);
  height: 1.5rem;
  width: 1.5rem;
}